<div class="portlet navigation">
	#*
	<?php if ($page == "start") : ?><h1>Start</h1><?php endif; ?>
	<?php if ($page == "mitt-jobb") : ?><h1>Mitt jobb</h1><?php endif; ?>
	<?php if ($page == "vard") : ?><h1>Vård</h1><?php endif; ?>
	<?php if ($page == "vardaktorsportalen") : ?><h1>Vårdaktörsportalen</h1><?php endif; ?>
	<?php if ($page == "hitta") : ?><h1>Hitta</h1><?php endif; ?>
	*#
	<h1>Start</h1>

	<ul class="navigate-page">
		<li class="sel"><a href="home.html?page=start">Start</a></li>
		<li><a href="#will-be-mitt-jobb">Mitt jobb</a></li>
		<li><a href="#will-be-vard">V&aring;rd</a></li>
		<li><a href="#will-bevardaktorsportalen">V&aring;rdakt&ouml;rsportalen</a></li>
		<li><a href="#will-be-hitta">Hitta</a></li>
	</ul>
	
	#*
	<ul class="navigate-page">
		<li<?php if ($page == "start") : ?> class="sel"<?php endif; ?>><a href="home.html?page=start">Start</a></li>
		<li<?php if ($page == "mitt-jobb") : ?> class="sel"<?php endif; ?>><a href="home.html?page=mitt-jobb">Mitt jobb</a></li>
		<li<?php if ($page == "vard") : ?> class="sel"<?php endif; ?>><a href="home.html?page=vard">Vård</a></li>
		<li<?php if ($page == "vardaktorsportalen") : ?> class="sel"<?php endif; ?>><a href="home.html?page=vardaktorsportalen">Vårdaktörsportalen</a></li>
		<li<?php if ($page == "hitta") : ?> class="sel"<?php endif; ?>><a href="home.html?page=hitta">Hitta</a></li>
	</ul>
	*#
</div>


#*
<nav class="$nav_css_class" id="navigation">
	<h1>
		<span>#language("navigation")</span>
	</h1>

	<ul>
		#foreach ($nav_item in $nav_items)
			#if ($nav_item.isSelected())
				<li class="selected">
			#else
				<li>
			#end
				<a href="$nav_item.getURL()" $nav_item.getTarget()><span>$nav_item.icon() $nav_item.getName()</span></a>

				#if ($nav_item.hasChildren())
					<ul class="child-menu">
						#foreach ($nav_child in $nav_item.getChildren())
							#if ($nav_child.isSelected())
								<li class="selected">
							#else
								<li>
							#end
								<a href="$nav_child.getURL()" $nav_child.getTarget()>$nav_child.getName()</a>
							</li>
						#end
					</ul>
				#end
			</li>
		#end
	</ul>
</nav>
*#