/*-------------------------------------------------------------------------------------
=Media Rules
-------------------------------------------------------------------------------------*/

/* Screen/viewport widths
-------------------------------------------------------------- */

@media only screen and (max-device-width:480px) {
	
	.portlet .utilities form.add input[type="url"]:focus,
	.portlet .utilities form.add input[type="text"]:focus {width:93%;}
	.portlet .utilities form.add input:focus + input[type="submit"] {display:none;}
	.portlet.navigation {padding-right:6px;}
	.portlet.navigation .switch-dashboard span {
		width: 18px;
		padding-right: 0;
		text-indent: -9999px;
	}
	.portlet.navigation .navigate-page {right:8px;}
}

@media only screen and (min-width:320px) and (target-densitydpi:device-dpi) {
	/* Added for debugging /EA/ */
	/*.dashboard > .portlet-layout { background-color: green; }*/
	
	.dashboard {width:320px;}
	.app-icon {width:106px;}
	
	/* Added for debugging /EA/ */
	/*
	 .dashboard {width:310px;}
	.app-icon {width:103px;}
	*/	
	
	.app-icon:nth-child(3n+1) {clear:left;}
}

@media only screen and (min-width:480px) and (target-densitydpi:device-dpi) {
	/* Added for debugging /EA/ */
	/*.dashboard > .portlet-layout { background-color: blue; }*/
	
	.dashboard {width:480px;}
	.app-icon {width:120px;}
	
	/* Added for debugging /EA/ */
	/*
	.dashboard {width:470px;}
	.app-icon {width:115px;}
	*/
	
	.app-icon:nth-child(3n+1) {clear:none;}
	.app-icon:nth-child(4n+1) {clear:left;}
}

@media only screen and (min-width:768px) {
	/* Added for debugging /EA/ */
	/*.dashboard > .portlet-layout { background-color: pink; }*/
	
	#header .logo {background-image:url(../images/common/logo-large.png);}
	#header .logo img {width:184px;}
	
	.portlet.navigation {padding-left:208px;}
	
	.dashboard {
		width:768px;
		padding:48px 0;
	}
	
	.app-icon {
		width:192px;
		margin:0 0 48px;
	}
	
	
	
	/* Larger icons */
	.app-icon a.app-link:before {
		width:64px;
		height:64px;
		-moz-border-radius:8px;
		-webkit-border-radius:8px;
		border-radius:8px;
	}
	.app-news a:before {background-image:url(../images/icons/news-2x.png);}
	.app-work a:before {background-image:url(../images/icons/work-2x.png);}
	.app-mail a:before {background-image:url(../images/icons/email-2x.png);}
	.app-todos a:before {background-image:url(../images/icons/todos-2x.png);}
	.app-documents a:before {background-image:url(../images/icons/documents-2x.png);}
	.app-contacts a:before {background-image:url(../images/icons/contacts-2x.png);}
	.app-calendar a:before {background-image:url(../images/icons/calendar-2x.png);}
	.app-movies a:before {background-image:url(../images/icons/movies-2x.png);}
	.app-watch a:before {background-image:url(../images/icons/radar-2x.png);}
	.app-topics a:before {background-image:url(../images/icons/email-2x.png);}
	.app-searches a:before {background-image:url(../images/icons/search-2x.png);}
	.app-updated-documents a:before {background-image:url(../images/icons/email-2x.png);}
	.app-healthcare-info a:before {background-image:url(../images/icons/email-2x.png);}
	.app-healthcare-news a:before {background-image:url(../images/icons/email-2x.png);}
	.app-search-eira a:before {background-image:url(../images/icons/search-2x.png);}
	.app-waiting-times a:before {background-image:url(../images/icons/clock-2x.png);}
	.app-intranet a:before {background-image:url(../images/icons/rolodex-2x.png);}
	.app-icon .portlet-body a {width:140px;}
	.app-icon .count {right:23px;}
}

@media only screen and (min-width:1024px) {
	/* Added for debugging /EA/ */
	/*.dashboard > .portlet-layout { background-color: purple; }*/
	
	.dashboard {width:1024px;}
	.app-icon {
		width:256px;
		margin:0 0 48px;
	}
}

/* Retina iPhone/iPod
-------------------------------------------------------------- */
@media only screen and (-webkit-min-device-pixel-ratio:2) {
	/* Higher resolution icons */
	.app-icon a.app-link:before {background-size:32px 32px;}
	.app-news a:before {background-image:url(../images/icons/news-2x.png);}
	.app-work a:before {background-image:url(../images/icons/work-2x.png);}
	.app-mail a:before {background-image:url(../images/icons/email-2x.png);}
	.app-todos a:before {background-image:url(../images/icons/todos-2x.png);}
	.app-documents a:before {background-image:url(../images/icons/documents-2x.png);}
	.app-contacts a:before {background-image:url(../images/icons/contacts-2x.png);}
	.app-calendar a:before {background-image:url(../images/icons/calendar-2x.png);}
	.app-movies a:before {background-image:url(../images/icons/movies-2x.png);}
	.app-watch a:before {background-image:url(../images/icons/radar-2x.png);}
	.app-topics a:before {background-image:url(../images/icons/email-2x.png);}
	.app-searches a:before {background-image:url(../images/icons/search-2x.png);}
	.app-updated-documents a:before {background-image:url(../images/icons/email-2x.png);}
	.app-healthcare-info a:before {background-image:url(../images/icons/email-2x.png);}
	.app-healthcare-news a:before {background-image:url(../images/icons/email-2x.png);}
	.app-search-eira a:before {background-image:url(../images/icons/search-2x.png);}
	.app-waiting-times a:before {background-image:url(../images/icons/clock-2x.png);}
	.app-intranet a:before {background-image:url(../images/icons/rolodex-2x.png);}
	/* Tab buttons */
	.tab-nav button {background-size:48px 48px;}
	.tab-nav button.start {background-image:url(../images/icons/start_negative-2x.png);}
	.tab-nav button.work {background-image:url(../images/icons/radar_negative-2x.png);}
	.tab-nav button.search {background-image:url(../images/icons/search_negative-2x.png);}
	.tab-nav button.settings {background-image:url(../images/icons/user_negative-2x.png);}
	/* Navigation */
	.portlet.navigation .switch-dashboard {
		background-size:18px 18px;
		background-image:url(../images/icons/arrow-white-2x.png);
	}
	/* Utilities */
	.portlet.user h1 {
		background-size:48px 48px;
		background-image:url(../images/icons/user-2x.png);
	}
	.portlet .utilities a span {
		background-size:18px 18px;
		background-image:url(../images/icons/arrow-2x.png);
	}
	.portlet .utilities a.add {
		background-size:28px 28px;
		background-image:url(../images/icons/add-2x.png);
	}
	/* Logo */
	#header .logo img {width:184px;}
	#header .logo {
		background-size:44px 37px;
		background-image:url(../images/common/logo-2x.png);
	}
	.login #header .logo {background-size:184px 37px;}
}