@import url(css.css);
@import url(mobile.css);

/*- Push header down to cater for dockbar when signed in -*/
.dockbar-true #header {
	top: 30px;
}

.dockbar-true #content {
	padding-top: 49px;
}

/*
.portlet-static {
	background: #fff;
}
*/

.portlet,
.portlet .app-icon,
.portlet.navigation {
	background: transparent;
}

.portlet-static,
.portlet-static.app-icon {
	background: #fff;
}

.portlet-login {
	background: transparent;
}

.portlet-static.app-icon {
	width: 100%;
}

.portlet.navigation button.switch-dashboard {
	text-shadow: 0px 0px #FFF;
}


/* LOGIN
================================================================================ */

.portlet-login {
	display:table;
	width:100%;
	height:100%;
	padding:0;
	border:0;
	color:#fff;
	background:#1d2527;
}
.portlet-login .portlet {
	display:table-cell;
	text-align:center;
	vertical-align:middle;
	padding-bottom:20px;
}
.portlet-login .portlet form {
	display:inline-block;
	width:280px;
	margin:10px 0;
	padding:10px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	background:#000;
	text-align:left;
}
.portlet-login .portlet h1 {
	margin:0 0 7px;
	font-size:17px;
}
.portlet-login .portlet .text {margin-bottom:10px;}
.portlet-login .portlet label {
	display:block;
	margin:0 0 3px;
	font-weight:bold;
	font-size:13px;
}
.portlet-login .portlet input {
	display:inline-block;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	padding:4px;
	font:bold 14px "Helvetica Neue", Helvetica, sans-serif;
}
.portlet-login .portlet input:not([type="submit"]) {
	width:100%;
}

.portlet-login .navigation,
.portlet-login .aui-field-choice,
.portlet-login .portlet-title .icon	 {
	display: none;
}

/* APP ICON OVERLAY
================================================================================ */

.mobile-icon-dialog {}

.mobile-icon-dialog .aui-dialog-hd h1 {
	font-size: 12px;
	margin: 0;	
}

.mobile-icon-iframe-wrap {
	height: 300px;
	width: 500px;	
}


/* SANDBOX
================================================================================ */

