#if($contentItems.siblings.size() > 0)
    <ul class="utilities">
        #foreach($contentItem in $contentItems.siblings)
    		#set($list_item_css_class = "")
    		#if($contentItem.expanded.data == "true")
    			#set($list_item_css_class = "exp")
    		#end
        	<li class="${list_item_css_class}">
				<h2>
					<a href="inactive"><span></span>${contentItem.data}</a>
				</h2>
				<ul>
					<li>
                		<div class="tabs-iframe-wrap">
        					## Temp check
        					#if($contentItem.iframeURL.data != "")
								<a href="${contentItem.iframeURL.data}" class="aui-helper-hidden tabs-iframe-link"></a>
                                <div class="tabs-iframe-ctn"></div>	
        					#else
        						<p>No iframe url. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis justo vel augue luctus dignissim. Sed feugiat, mi sed suscipit mattis, erat dolor iaculis massa, nec euismod sem elit nec ipsum.</p>
        					#end
        				</div>
					</li>
				</ul>
        	</li>
        #end
    </ul>	
#end